<%- include('../includes/head.ejs') %>
    <style>
        table {
            border-collapse: collapse;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <% if (cart.length> 0) { %>
                <main>
                    <table>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                        <% cart.forEach(product=> { %>
                            <tr>
                                <td>
                                    <%= product.productData.title %>
                                </td>
                                <td>
                                    <%= product.quantity %>
                                </td>
                                <td>
                                    <%= product.productData.price %>
                                </td>
                                <td>
                                    <form action="/cart-delete" method="POST">
                                        <button class="btn" type="submit">Delete </button>
                                        <input type="hidden" name="productId" value="<%=product.productData.id %>">
                                    </form>
                                </td>
                            </tr>
                            <% }); %>
                    </table>

                </main>
                <% } else { %>
                    <p>No Products In Cart.</p>
                    <% } %>

                        <%- include('../includes/end.ejs') %>